<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dementia Detection Development Server</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


</head>
<body>
     <div class ="centerDivHeader">
        <h2>Welcome to the dementia detection app. Click next to begin the process.</h2>
        
    <br>
    </br>
     <div class = "centerDivForm">
        <form method=POST enctype=multipart/form-data action ="question1">
            <input type=submit value="Next">
        </form>
    </div>
    <br>
    </br>
    
</body>

</html>