<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dementia Detection Development Server - question two score</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <br>
    </br>
    <div class ="centerDivHeader">
        <h2>Sorry for the inconvience, but the code for analyzing this 
        question is still under construction. Standard Flask app uses the IP address to obtain geolocation. However, 
    because this site is run on a remote server, this location will not be same as the user's location.
    Furthermore, goelocation obtained from IP addresses are not as accurate as location obtained through 
    GPS. Hence, I am still in the process of finding solutions to this problem. For now, please move onto 
    question three.</h2>
    </div>
    <br>
    </br>
    <div class = "centerDivForm">
        <form method=POST enctype=multipart/form-data action ="question3">
            <br>
            <input type=submit value ="Next">
        </form>
    </div>
    
    <br>
    
    
</body>

</html>